{
  "env": {
    "node": true
  },
  "plugins": ["node", "babel"],
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "no-console": "off"
  }
}
